@media (min-width: 40rem) {
  .current-races-container {
    .left-arrow-icon {
      width: 50px !important;
      height: 50px !important;
    }

    .right-arrow-icon {
      width: 50px !important;
      height: 50px !important;
    }
  }
}
