body {
  background-color: #1a1a1a;
  font-family: "Raleway", sans-serif;
  width: fit-content;
}

* {
  --HOVER-COLOR: #f2f2f2;
  --ERROR-COLOR: #b71c1c;
  --WARNING-COLOR: #ffa200;
  --INFORMATION-COLOR: #b0b0b0;
  --SUCCESS-COLOR: #779d6a;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #262626; /* Dark track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #3b82f6, #9333ea); /* Gradient thumb */
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    #2563eb,
    #7e22ce
  ); /* Brighter gradient on hover */
}
