/** @format */

@import "tailwindcss";

/* Define custom theme here */
@theme {
  --color-gray-main: #323232;
  --color-main-green: #bbf451;
  --color-main-blue: #2650ff;
  --color-border-line: #bfbfbf;
  --color-gray-nav: #535353;
  --color-gray-main-hover: #383838;
  --color-main-blue-hover: #345cfe;
  --color-lightgray-main-hover: #555555;
  --color-white-hover: #cfcfcf;
  --color-darkgray-main: #1a1a1a;
  --color-off-white: #faf9f6;
  --color-navbar-color: #101828;

  /* Font Size */
  --text-h1: 32px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-h5: 16px;
  --text-h6: 14px;
  --text-mega: 58px;
  --text-small: 12px;
  --text-medium: 14px;

  --text-mobile-h1: 50px;
  --text-mobile-h5: 30px;
  --text-mobile-h6: 22px;

  /* Padding and Margin */
  --spacing-standard-x: 14px;
  --spacing-standard-y: 10px;

  /* Pumping animation */
  --animate-pump: pump 1.5s ease-in-out infinite;
  @keyframes pump {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}
