/** @format */

@import "tailwindcss";

/* Define custom theme here */
@theme {
  --color-gray-main: #323232;
  --color-main-blue: #2650FF;
  --color-darkgray-main: #1a1a1a;
  --color-gray-nav: #535353;
  --color-gray-main-hover: #383838;
  --color-lightgray-main-hover: #555555;

  /* Font Size */
  --text-h1: 32px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-h5: 16px;
  --text-h6: 14px;
  --text-mega: 58px;
  --text-small: 12px;

  /* Padding and Margin */
  --spacing-standard-x: 12px;
  --spacing-standard-y: 8px;
}
